<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<!-- Mit HsqlDB
	    <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
	  	<property name="connection.url">jdbc:hsqldb:mem:testdb</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="show_sql">false</property>
		<property name="connection.pool_size">2</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.jdbc.batch_size">0</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hibernate.current_session_context_class">thread</property>-->

		<!-- MYSQL Server/Workbench-->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	  	<property name="connection.url">jdbc:mysql://localhost:3306/statistiktool</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1234</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="connection.pool_size">10</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.jdbc.batch_size">0</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="hibernate.current_session_context_class">thread</property> 
		
		<!-- Nur Unidirectional Associations -->
		<mapping resource="Standort.hbm.xml"></mapping>
		<mapping resource="Angestellter.hbm.xml"></mapping>
		<mapping resource="Benutzungsstatistik.hbm.xml"></mapping>
		<mapping resource="Benutzerkontakt.hbm.xml"></mapping>
		<mapping resource="Emailkontakt.hbm.xml"></mapping>
		<mapping resource="Telefonkontakt.hbm.xml"></mapping>
		<mapping resource="Intensivfrage.hbm.xml"></mapping>
		<mapping resource="BeantwortungBibliothekspersonal.hbm.xml"></mapping>
		<mapping resource="ExterneGruppe.hbm.xml"></mapping>
		<mapping resource="Wintikurier.hbm.xml"></mapping>
		<mapping class="belegung.model.Arbeitsplätze"/>
		<mapping class="belegung.model.Belegung"/>
		<mapping class="belegung.model.Carrels"/>
		<mapping class="belegung.model.Gruppenräume"/>
		<mapping class="belegung.model.Kapazität"/>
		<mapping class="belegung.model.SektorA"/>
		<mapping class="belegung.model.SektorB"/>
		<mapping class="belegung.model.Stockwerk"/>
		
	</session-factory>
</hibernate-configuration>
